{% extends "layout.html" %}



{% block content %}

<div id="mapbox">map placeholder</div>



<div id="sidebar">


<div id="placebox">




  <h2>Hotels</h2>

  <select name="hotels">
    {% for hotel in templateHotels %}
      <option value="{{hotel.id}}">{{hotel.name}}</option>
    {% endfor %}
  </select>

  <h2>Activites</h2>

  <select name="activities">
   {% for activity in templateActivities %}
      <option value="{{activity.id}}">{{activity.name}}</option>
    {% endfor %}
  </select>


  <h2>Restaurants</h2>

  <select name="restaurants">
   {% for restaurant in templateRestaurants %}
      <option value="{{restaurant.id}}">{{restaurant.name}}</option>
    {% endfor %}
  </select>



</div>


<div id="tripbox">

  <div id="dayheader"> Day ? </div>
  <div id="daynav"> daynav </div>

  placeholder

</div>


</div>




{% endblock %}
